@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
   
    text-decoration: none !important;
}
ul {
    list-style: none;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    z-index: 1000;
    background: transparent;

}
.BackGraound {
    background: #f1f1f1;
    transition: all 0.5s ease;
}
.BackGraound .nav_link {
    text-shadow: none;
    color: #444;
    transition: color 0.5s ease;
}
/* Header for the Home pages and Other Pages */
/* ============================================> */
.wrapper {
    max-width: 2500px;
    margin: auto;
}

.Logo {
    flex:1 1 10rem;
    height: 100%;
}
.Logo img {
    width: 3.5rem;
    height: auto;
}
/* NavBar for the Header */
.nav{
    flex:1 1 30rem;
    display: flex;
}
.nav_list{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    
}
.nav_item {
margin-left: 1rem;
}
.nav_link {
    color: #fff;
    font-size: 1.5rem;
    white-space: nowrap;
    position: relative;
    text-decoration: none;
    text-shadow: 2px 2px 5px #000;
}
/* Some animation for the bottom border for any nav_link */
.nav_link::after{
    position: absolute;
    content: "";
    bottom:-30%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #444;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s ease;
}

.nav_link:hover {
    color: rgba(68, 68, 68, 0.5);
    transition: all 0.5s ease;
}


.nav_link:hover::after {
    transform: scaleX(1);
    transition: all 0.5s ease;
}

/* Btn .BtnHamburger Style Section this for btn that will display in Mobile view*/
.BtnHamburger
{
  position: relative;
  width: 3rem;
  height: 3rem;
  display: none;
  
}
.BtnHamburger span {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 6px;
    left: 0;
    background-color: #000;
    z-index: 100;
    border-radius: 1rem;
    transition: all 0.5s ease;
}
.BtnHamburger span:nth-child(1)
{
    top: 15%;
}
.BtnHamburger span:nth-child(2){
    top: 50%;
    transform: translateY(-50%)
}
.BtnHamburger span:nth-child(3)
{
    bottom: 15%;
    
}
/* This is Class that when you click on the Btn will Activate the Animation */
.active span:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotateZ(-45deg);
    transition: all 0.5s ease;
}
.active span:nth-child(2){
    opacity: 0;
    transform: translateY(-50%) translateX(-200px);
    transition: all 0.5s ease;
}
.active span:nth-child(3){
    bottom: 50%;
    transform: translateY(50%) rotateZ(45deg);
    transition: all 0.5s ease;
}
/* Class For the open the navbar in Mobile version  */
.open {
    max-height: 50rem !important;
    transition: all 0.5s ease;
    
}


/* Slider Style Section */

#home{
     
}
/* second Class for the class of Swiper  */
.HomeSwiper {
    width: 100%;
    height: 50rem;
  }
/* the Class inside every swiper-slide */
.Slider_Container {
    width: 100%;
    height: 100%;
    position: relative;
}

.Slider_Container img {
    width: 100%;
    height: 100%;
}

.overlayer {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(68, 68, 68, 0.5);
    width: 100%;
    height: 100%;
}
.Slider_Content {
    position: absolute;
    color:#fff;
    top:40%;
    left: 10%;
    overflow: hidden;
}
.Slider_Content_header {
    font-size: 5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(-100px);
    transition:all 0.5s ease ;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
}

/* .active Slider Animation */
/* ========================== */
/* this is one is for the Title for every Slider with Animation */
.swiper-slide-active .Slider_Content_header {
    opacity: 1;
    transform: translateY(0) !important;
     transition:all 0.5s ease ;
}
.Slider_Content_text {
    font-size: 1.5rem;
    margin-left: 2rem;
    opacity: 0;
    transform: translateY(100px);
    transition:all 0.5s ease ;
    font-family: 'Teko', sans-serif;
}
.swiper-slide-active .Slider_Content_text {
    opacity: 1;
    transform: translateY(0) !important;
    transition:all 0.5s ease 0.3s;
}
.btn_ContactUs{
    display: inline-block;
    font-size: 1.5rem;
    color: #fff;
    background-color: rgb(58, 58, 224);
    border: 3px solid transparent;
    padding: 1rem 2rem;
    margin-top: 2rem;
    margin-left: 1rem;
    opacity: 0;
    transform: translateY(100px) ;
    transition:all 0.5s ease !important;
    text-decoration: none;
    border-radius: 0.5rem;
}
.btn_ContactUs:hover {
    background-color: rgba(58, 58, 224, 0.3) !important;
    border: 3px solid rgb(58, 58, 224);
    transition:all 0.5s ease !important;
}
.swiper-slide-active .btn_ContactUs {
    opacity: 1;
    transform: translateY(0) !important;
    transition:all 0.5s ease 0.6s;
}
/* Swiper Navigation Styles Start */
.swiper-button-prev,
.swiper-button-next{
    color: #f1f1f1;
    font-weight: bold;
}
.Swiper_Btn_color {
    color:#444 !important;
    background-color: #f1f1f18e;
    width: 2rem;
    height: 100%;
    top: 0;
    margin: 0;
 
    
}
.Swiper_Btn_left {
    right: 0% !important;
    
}
.Swiper_Btn_rigth {
    left: 0 !important;
}
/* Swiper Navigation Styles End */
/* ===================================> */
/* ===================================> */
/* About Section */
#about{
     width: 100%;
     min-height: 50vh;
}
.About_Contaniner {
   width: 100%;
   padding: 0.5rem 1rem; 
   
   display: flex;
   align-items: center;
}

.About_image{
    width: 80%;
    height: 30rem;
    object-fit: cover;
    object-position: center;
    margin: auto;
    border-radius: 0.5rem;
    
}

.titile_Section {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
    letter-spacing: 3px;
}
.about_title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
    margin-top: 5rem;
}
.About_content{
    font-family: 'Lora', serif;
    line-height: 1.7rem;
    line-height: 2rem;
}

/* Services Style Section is Starts Here !! */
#services .row>*{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.Grid_Services {
    overflow: hidden;
}
.image_of_Services {
    width: 100%;
    height: 30rem;
}
.image_of_Services img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.Title_col_Services {
    padding: 3rem 2rem 0rem!important;
    font-size: 2rem;
}
.Btn_ReadMore_Services {
    padding: 0.5rem 2rem!important;
    font-size: 1.2rem !important;
    margin-top: 1rem;

}
.text_of_services {
    padding: 0.5rem 3rem!important;
    font-size: 1.5rem;
    overflow: hidden;
    font-family: 'Lora', serif;
}
.Card_Item{
    min-height: 20rem;
}
.Card_Item img {
    width: 100%;
    height: 15rem;
}
/* Services Style Section is Ends Here !! */
/* ========================> */
/* ========================> */
/* OurTeam  Section Style Section Start from here !! */
#ourteam {
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.3), rgba(150, 149, 149, 0.6));
    min-height: 30rem;
    padding: 2rem 1rem;
}
.Testmonials_card {
    width: 20rem;
    min-height: 20rem;
    background: #f1f1f1;
    padding: 3rem 1rem;
    border-radius: 1rem;
}
.Testmonials_card_image{
    width: 8rem;
    height: 8rem;
    margin: auto;
    border: 2px solid rgba(160, 157, 157, 0.7);
    display: flex;
    border-radius: 50%;
}
.Testmonials_card_image img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    margin: auto;
}
.Testmonials_card_Content .theName {
    font-size: 1.2rem;
    margin-top: 1.5rem;
}
.Testmonials_card_Content .thePosition{
    text-align: center;
    font-size: 0.8rem;
    color: #444;
}
.Social_icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}
.Social_icons .TheIcon {
    font-size: 1rem;
    border-radius: 50%;
    color: #444;
    position: relative;
    margin: auto;
}
.icon_container {
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    border-radius: 50%;
    border: 2px solid rgba(68, 68, 68, 0.5);
    margin: 0 0.3rem;
}
/* OurTeam  Section Style Section Ends /
/* ===============================> */
/* ===============================> */
/* contact us section */
#contactus {
    width: 100%;
    min-height: 30rem;
    padding: 3rem 0 1rem;
}
/* ==========================> */
/* ==========================> */
/* Footer section style */
footer {
    color: #f1f1f1;
    min-height: 10rem;
    background: #000;
}
footer a {
    text-decoration: none;
    color: #f1f1f1;
}
.footer-links a{
    
    margin-top: 1rem;
}
footer .social-icons {
  font-size: 1.2rem;
}
/* Footer section style id End */
/* =============================> */
/* ============================> */
/* Mold Services Page _  Styles _ Section  Start*/
#HeroSection{
margin-top: 7rem !important;      
}
.bigHero {
    width: 100%;
    height: 20rem;
    overflow: hidden;
    position: relative;
}
.bigHero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.hero_title {
    color: #fff;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    font-weight: 800;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 5px #444;
}
.Mold_services_content,
._3D_Services_content {
    font-size: 1.3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.Plastices_Prossec_title,
.Printing_3D_Advantages_title,
.Prototype_Page_title {
    margin-bottom: 1rem;
    
}
.Plastices_Prossecs_content ,
.Printing_3D_Advantages_content,
.Prototype_Page_Content{
    font-size: 1.2rem;
    margin-bottom: 3rem;
    
}
.Mold_services_Image
{
    width: 100%; 
}
.Mold_services_Image img {
    width: 70%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    margin-left: 15% ;
    border-radius: 1rem;
}
.Image_Plastices_Mold_Machine {
    width: 90%;
    height: 25rem;
    margin: 2rem auto;
}
.Image_Plastices_Mold_Machine img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.prossec_lists {
     list-style: disc;
}
.Mold_plastices_projects {
    width: 80%;
    margin: auto;
}
.Mold_project_slider {
    width: 100%;
    height: 20rem;
}
.Mold_project_slider img {
    
    width: 100%;
    height: 100%;
}
/* Mold Services Page _  Styles _ Section  Ends*/


/* =========================== */
/* Cnc Machine Services ____Page____  Style Start*/
.Machines .Machines_Item img{
width: 100%;
height: 100%;
}
.Machines .Machines_Item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.Machines .Machines_Item .Machines_Item_content{
    position: absolute;
    top: 0;
    left: 2.5%;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#f1f1f1;
    background-color: rgba(68, 68, 68, 0.6);
    transform: translateY(100%);
    transition: all 0.5s ease;
}
.Machines .Machines_Item:hover .Machines_Item_content{
    transform: translateY(0%);
    transition: all 0.5s ease;
}
/* Cnc Machine Services ____Page____  Style ____End*/
/* =====================================>*/
/* =====================================>*/
/* 3D Printers Page Styles ===========================> */
.Images_3D {
    width: 80%;
}
.Images_3D_item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Images_3D img {
    width: 50%;
}
.Printing_3D_Advantages{
    margin-top: 3rem;
}
@media screen and (max-width:1024px){
    /* Navbar Secction  */
    .nav {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #f1f1f1;
        z-index: 111;
        width: 100%;
        max-height:0;
        overflow: hidden;
        transition: max-height 0.5s ease;
        padding: 0;
    }
    .nav_list {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    
    .BtnHamburger {
        display:block !important;
        
    }
    .nav_item {
        padding-top: 1rem;
    }
    .nav_link {
        text-decoration: none;
    }
    /* make Swiper Height smaller to  20rem Start */
    .swiper {
        width: 100%;
        height: 20rem;
      }
      .image_of_Services {
        height: 30rem ; 
    }  
      .Slider_Content {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }
      .Slider_Content_header{
          width: 80%;
          text-align: center;
          font-size: 2rem;
          margin: 0.5rem 10% !important;
          
      }
      .Slider_Content_text {
          text-align: center;
          font-size: 1.2rem;
          margin-top: 0;
          margin-left: 0 !important;
      }
      .btn_ContactUs {
        padding: 0.5rem !important;
        font-size: 1rem;
        margin: 0 !important;

      }
      .About_image {
          width: 85%;
          border-radius: 0!important;
      }
      /* make Swiper Height smaller to  20rem End */
      .Card_Item img {
        width: 100%;
        height: 12rem;
    }
}
@media screen and (max-width:768px){
    .About_Contaniner{
        padding: 0.2rem !important;
        margin: 0 !important;
    }
    .Grid_Services {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        overflow: hidden !important;
    }
    .image_of_Services {
        width: 100% !important;
        overflow: hidden;
        height: 17rem !important;
    }
    .image_of_Services img {
        width: 100%;
    }
   .BtnHamburger{
       width: 2.2rem;
       height: 2.2rem;
   }
   .Logo img {
    width: 2rem;
    height: auto;
}
.Card_Item{
    width: 25rem !important;
    margin: auto;
}
.Card_Item img {
    width: 100%;
    height: 13rem;
}
.bigHero {
    width: 100%;
    height: 15rem;
    overflow: hidden;
    position: relative;
}
.bigHero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* ============================ */
/* Mold Services Style Section */
#HeroSection{
    margin-top: 5rem;
}
.Mold_services_content {
    font-size: 1rem;
}
.Mold_services_Image {
    margin-bottom: 2rem;
}
.Plastices_Prossec_title  {
    margin-bottom: 1.5rem;
}  
.Plastices_Prossecs_content{
    font-size: 1rem;
}
.Image_Plastices_Mold_Machine  {
    height: 15rem;
    margin-bottom: 1rem;
}
.Prototyping_image_Container img {
    width: 100% !important;
    margin: 0 !important;

}
}
@media screen and (max-width:450px){
    /* Home Service Styles */
    .Title_col_Services {
         text-align: center;
         font-size: 1.6rem;
         font-weight: 600;
    }
   
    .text_of_services {
        text-align: center;
        padding: 0.5rem 1.2rem;
        
    }
    .Btn_ReadMore_Services{
       margin:1rem !important;
       
       
    }
    #home{
        margin-top: 5rem;
    }
    .About_content {
        font-size: 1rem;
        font-weight: 500;
    }
    .Slider_Content_header{
        width: 60%;
        text-align: center;
        font-size: 1.2rem;
        margin: 0.5rem 10% !important;
    }
    .Slider_Content_text{
        display: none;
    }
    .btn_ContactUs {
        margin-top: 1rem !important;
        text-decoration: none !important;
    }
    .image_of_Services {
        width: 100% !important;
        overflow: hidden;
        height: 15rem !important;
    }
   
    .Testmonials_card {
        width: 100%;
    }


    /* Mold Services Style Section */
    #HeroSection{
        margin-top: 5rem !important;      
        }
    .bigHero {
        width: 100%;
        height: 10rem;
        overflow: hidden;
        position: relative;
    }
    .bigHero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .Mold_Services_Title
    ,._3D_Services_Title {
        text-align: center;
    }
    .Mold_services_content  {
        text-align: center;
        padding: 0.5rem 1rem;
        
    }
    .Plastices_Prossec_title {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .Plastices_Prossecs_content{
        padding: 0.5rem 1rem;
        text-align: center;
    }
    .videos video {
        width: 80%;
        margin: 1rem auto;
        height: 15rem;
        cursor: pointer !important;
    }
    /* Ð¡nc Machine Services */
    .Mold_Services_Title {
        margin-top: 2rem;
    }
    .what_Cnc  {
        text-align: center;
        
    }
    .what_Cnc h1 {
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    .what_Cnc p {
        padding: 0 1.5rem;
    }
    /* Prototyping services Style Section  */
    .Prototyping_image_Container img {
       height: 15rem !important;
       border-radius: 0.5rem;
    
    }
}
@media screen and (max-width:380px){
    .text_of_services{
        font-size: 1rem;
        padding: 0.2rem 1.5rem !important;
    }
    
}
.Loader_Container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    z-index: 50000;
}
.loader {
  
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: auto;
    opacity: 1;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .loaderFinish {
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s ease;
  }

  .Active_lang {
      display: block;
  }
  .UnActive_lang {
      display: none;
  }
/* Links For Lang */
  .Lang_Item a{
       color: #444;
       font-size: 1.2rem;
       font-weight: 500;
       margin: auto 1rem;
       border: 1px solid #444;
       padding: 0.5rem 1rem;
       border-radius: 1rem;
    
  }